{% extends 'base.html' %}

{% block title %}
    Rendering RSS
{% endblock title %}


{% block others %}

{% endblock others %}

{% block content %}
    {% include 'navbar.html' %}
    <div class='fixed top-2 left-3 right-3 border'>
        <div class='grid grid-cols-2 gap-4 font-light text-xs'>
            <div class= 'col-span-2 font-extrabold text-lg text-center mt-4'>
                {{feed.feed.title}}
            </div>
            {% for entry in feed.entries %}
                <div class=''>
                    <div class= 'truncate'>
                        {{entry.title}}
                    </div>
                    <div class= ''>
                        {{entry.published}}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock content %}